*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bold;
}
body
{
  margin: 0;
  padding: 0;
  background-image: url(https://i.ibb.co/1LHpHY8/images.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

/*///////////////HEADER///////////////*/

header
{
  margin-top: 3px;
  position: relative;
  max-width: 100%;
  height: 60px;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  z-index: 1000;
  box-shadow: 5px 0 5px 5px rgba(0,0,0,.3);
}
header .logo
{
  color: #111;
  position: relative;
  left: -80px;
  font-size: 24px;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 700;
  list-style: none;
}
header ul
{
  position: relative;
  display: flex;
}
header ul li
{
  position: relative;
  left: 80px;
  list-style: none;
}
header ul li .active,
header ul li a:hover
{
  background: lime;
  transition: 0.7s ease;
  border-radius: 30px;
}
header ul li a
{
  position: relative;
  left: 0;
  padding: 5px 10px;
  color: #111;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
.toggle
{
  display: none;
}
 
/*Mobile Phones Portrait or Landscape*/

@media screen and (max-width: 640px)
{
  header ul 
  {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: calc(110vh - 80px);
    padding: 50px 100px;
    text-align: center;
    overflow: auto;
    transition: 0.5s;
    background: #fff;
    flex-direction: column;
    transform: translateY(-100%);
    opacity: 0;
  }
  header.active ul
  {
    opacity: 2;
    top: 60px;
    transform: translateY(0);
  }
  header ul li
  {
    position: relative;
    left: 0;
  }
  header ul li a
  {
    margin: 5px 0;
    font-size: 24px;
    
/*/////////////MENU ANIMATION/////////*/

  }
  .toggle
  {
    position: relative;
    left: 80px;
    display: block;
    width: 22px;
    height: 20px;
    cursor: pointer;
  }
  .toggle:before
  {
    content: '';
    position: absolute;
    top: 1px;
    width: 100%;
    height: 1px;
    background: #111;
    z-index: 1;
    box-shadow: 0 7.5px 0 #111;
    border-radius: 1px;
    transition: 0.6s;
    border: 1px solid #111;
  }
    .toggle:after
  {
    content: '';
    position: absolute;
    bottom: 1px;
    width: 100%;
    height: 1px;
    background: #111;
    border-radius: 1px;
    z-index: 1;
    transition: 0.6s;
    border: 1px solid #111;
  }
  header.active .toggle:before
  {
    top: 10px;
    transform: rotate(315deg);
    box-shadow: 0 0 0 #111;
  }
  header.active .toggle:after
  {
    top: 10px;
    transform: rotate(-135deg);
    box-shadow: 0 0 0 #111;
  }
}